<div class="fondoVerde">
    <nav class="nav justify-content-end">
        <a class="nav-link active letraBlanca" aria-current="page" href="#">Contacto</a>
        <a class="nav-link letraBlanca" href="#">Foro</a>
        <a class="nav-link letraBlanca" href="#">Ayuda</a>
    </nav>
</div>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FUTGOLMANAGER</a>

            <div class="collapse navbar-collapse separacion" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item centrar">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                        <label class="letraNegra" aria-current="page"> *usuario* </label>
                    </li>
                    <li class="nav-item separacion2 centrar">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">euro_symbol</mat-icon>
                        <label class="letraNegra" aria-current="page"> *economia*</label>
                    </li>
                    <li class="nav-item separacion2 centrar">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">mail</mat-icon>
                        <label class="letraNegra" aria-current="page"> 0</label>
                    </li>
                    <li class="nav-item separacion2">
                        <button type="button" class="btn estiloBotonPeque">Salir</button>
                    </li>
                </ul>

                <input class="form-control mr-sm-2 inputBuscar" type="search" placeholder="Buscar..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>

            </div>
        </div>
    </nav>
</div>