<div class="letraBlanca">
    <mat-sidenav-container class="example-container fondoVerde barraLateral letraBlanca">
        <mat-sidenav-content>
            <mat-nav-list>
                <h2>Inicio</h2>
                <mat-list-item><label class="letraBlanca">Resumen</label></mat-list-item>
                <mat-list-item><label class="letraBlanca">Jornada</label></mat-list-item>
                <h2>Competiciones</h2>
                <mat-list-item> <label class="letraBlanca">Liga</label></mat-list-item>
                <mat-list-item> <label class="letraBlanca">Copa</label></mat-list-item>
                <h2>Club</h2>
                <mat-list-item> <label class="letraBlanca">Plantilla</label></mat-list-item>
                <mat-list-item> <label class="letraBlanca">Entrenamiento</label></mat-list-item>
                <mat-list-item> <label class="letraBlanca">Juveniles</label></mat-list-item>
                <h2>Oficina</h2>
                <mat-list-item> <label class="letraBlanca">Mi club</label></mat-list-item>
                <mat-list-item> <label class="letraBlanca"> Estadio</label></mat-list-item>
                <mat-list-item> <label class="letraBlanca"> Mercado</label></mat-list-item>
                <mat-list-item> <label class="letraBlanca">Patrocinadores</label></mat-list-item>
                <mat-list-item> <label class="letraBlanca">Noticias</label></mat-list-item>
                <mat-list-item> <label class="letraBlanca">Mensajes</label></mat-list-item>
                <mat-list-item> <label class="letraBlanca">Cuentas</label></mat-list-item>
                <mat-list-item> <label class="letraBlanca">Ingresos</label></mat-list-item>
                <h2>Historial</h2>
                <mat-list-item> <label class="letraBlanca">H. de partidos</label></mat-list-item>
                <mat-list-item> <label class="letraBlanca">H. de fichajes</label></mat-list-item>
                <h2>Otros</h2>
                <mat-list-item> <label class="letraBlanca">Otras ligas</label></mat-list-item>
                <mat-list-item> <label class="letraBlanca">Ranking</label></mat-list-item>
            </mat-nav-list>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>