<mat-sidenav-container class="example-container fondoVerde barraLateral letraBlanca">
    <mat-sidenav-content>
        <mat-nav-list>
            <h2>Inicio</h2>
            <mat-list-item>Resumen</mat-list-item>
            <mat-list-item>Jornada</mat-list-item>
            <h2>Competiciones</h2>
            <mat-list-item>Liga</mat-list-item>
            <mat-list-item>Copa</mat-list-item>
            <h2>Club</h2>
            <mat-list-item>Plantilla</mat-list-item>
            <mat-list-item>Entrenamiento</mat-list-item>
            <mat-list-item>Juveniles</mat-list-item>
            <h2>Oficina</h2>
            <mat-list-item>Mi club</mat-list-item>
            <mat-list-item>Estadio</mat-list-item>
            <mat-list-item>Mercado</mat-list-item>
            <mat-list-item>Patrocinadores</mat-list-item>
            <mat-list-item>Noticias</mat-list-item>
            <mat-list-item>Mensajes</mat-list-item>
            <mat-list-item>Cuentas</mat-list-item>
            <mat-list-item>Ingresos</mat-list-item>
            <h2>Historial</h2>
            <mat-list-item>H. de partidos</mat-list-item>
            <mat-list-item>H. de fichajes</mat-list-item>
            <h2>Otros</h2>
            <mat-list-item>Otras ligas</mat-list-item>
            <mat-list-item>Ranking</mat-list-item>
        </mat-nav-list>
    </mat-sidenav-content>
</mat-sidenav-container>