<div class='fondoGris'>
    <div class="fondoVerde">
        <nav class="nav justify-content-end">
            <a class="nav-link active letraBlanca" aria-current="page" href="#">Contacto</a>
            <a class="nav-link letraBlanca" href="#">Foro</a>
            <a class="nav-link letraBlanca" href="#">Ayuda</a>
        </nav>
    </div>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">FUTGOLMANAGER</a>

                <div class="collapse navbar-collapse separacion" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <label class="letraNegra" aria-current="page">Usuario: </label>
                        </li>
                        <li class="nav-item separacion">
                            <input class="nav-link inputLogeo" />
                        </li>
                        <li class="nav-item separacion2">
                            <label class="letraNegra" aria-current="page">Contraseña: </label>
                        </li>
                        <li class="nav-item separacion">
                            <input class="nav-link inputLogeo" />
                        </li>
                        <li class="nav-item separacion2">
                            <button type="button" class="btn estiloBotonPeque">Entrar</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="divPadre">
        <div class='divHijo'>
            <br>
            <p style="margin-left: 50px; margin-right: 50px;">¿Es la primera vez que juegas a FutGolManager? Te recomendamos que antes de entrar de lleno en el juego te leas las normas en nuestro foro. <a href="https://google.es">Pulsa aquí</a></p>

            <form class="formRegistro">
                <h1 style="margin-left: 50px;">Información del usuario</h1>
                <div class="form-group row margen10 marginIzq50">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-5">
                        <input type="text" readonly class="form-control" id="staticEmail" placeholder="Tu correo electrónico">
                    </div>
                </div>
                <div class="form-group row margen10 marginIzq50">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Usuario</label>
                    <div class="col-sm-5">
                        <input type="text" readonly class="form-control" id="usuario" placeholder="Usuario con el que vas a iniciar sesión">
                    </div>
                </div>
                <div class="form-group row margen10 marginIzq50">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña de acceso">
                    </div>
                </div>
                <div class="form-group row margen10 marginIzq50">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Confirmar contraseña</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Repite la contraseña">
                    </div>
                </div>
                <br>
                <h1 style="margin-left: 50px;">Información del equipo</h1>
                <div class="form-group row margen10 marginIzq50">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nombre del equipo</label>
                    <div class="col-sm-5">
                        <input type="text" readonly class="form-control" id="staticEmail" placeholder="">
                    </div>
                </div>
                <div class="form-group row margen10 marginIzq50">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nombre del estadio</label>
                    <div class="col-sm-5">
                        <input type="text" readonly class="form-control" id="usuario" placeholder="">
                    </div>
                </div>
                <div class="form-group row margen10 marginIzq50">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nombre de ultras</label>
                    <div class="col-sm-5">
                        <input type="text" readonly class="form-control" id="usuario" placeholder="">
                    </div>
                </div>
                <div class="form-group row margen10 marginIzq50">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Escudo</label>
                    <div class="col-sm-5">
                        <input type="text" readonly class="form-control" id="usuario" placeholder="">
                        <div class="d-grid gap-2 d-md-flex justify-content-end mb-3">
                            <button type="button" class="btn btn-secondary" style="margin-top: 5px;">Examinar</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
