<div class='fondoGris'>
    <div class="fondoVerde">
        <nav class="nav justify-content-end">
            <a class="nav-link active letraBlanca" aria-current="page" href="#">Contacto</a>
            <a class="nav-link letraBlanca" href="#">Foro</a>
            <a class="nav-link letraBlanca" href="#">Ayuda</a>
        </nav>
    </div>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">FUTGOLMANAGER</a>

                <div class="collapse navbar-collapse separacion" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <label class="letraNegra" aria-current="page">Usuario: </label>
                        </li>
                        <li class="nav-item separacion">
                            <input class="nav-link inputLogeo" />
                        </li>
                        <li class="nav-item separacion2">
                            <label class="letraNegra" aria-current="page">Contraseña: </label>
                        </li>
                        <li class="nav-item separacion">
                            <input class="nav-link inputLogeo" />
                        </li>
                        <li class="nav-item separacion2">
                            <button type="button" class="btn estiloBotonPeque" routerLink='/content'>Entrar</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="divPadre">
        <div class='divHijo'>
            <table class="styleTabla">
                <tr>
                    <th>
                        <img src="assets/img/fotoBalon.png" class="styleImgBalon margen40" />
                    </th>
                    <th>
                        <p class="margen40 parrafo">
                            FUTGOLMANAGER es un juego de fútbol gratuito donde tú llevas las riendas de tu equipo a lo más alto.
                        </p>
                        <p class="parrafo">
                            Dirige, alinea, entrena a tus jugadores, sube a los juveniles al primer equipo (quien sabe cuando hay una futura estrella), mejora la infraestructura de tu club, negocia con otros jugadores y diviértete.
                        </p>
                        <p>
                            ¿Aún no tienes equipo?
                        </p>
                        <button class="btnVerde" routerLink='/register'>¡Regístrate!</button>
                    </th>
                </tr>
            </table>

            <hr class="styleBarraSeparadora" />

            <div class="row mb-2">
                <div class="col-md-6">
                    <table class="table table-sm table-dark margen40 marginIzq50">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Últimas noticias</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>¡@Ambro se apunta al equipo de 'FutGolManager!</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@Ambro confirma que en la próxima campaña de socios se sacara el carnet del Xerez Deportivo Fútbol Club</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@Alvarito confirma ser subnormal</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@Noveaqueaburrimiento</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@yoquese</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@quecarajo</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@escribir</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>hijo mio</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>que de</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>lineas</td>
                            </tr>

                        </tbody>
                    </table>

                </div>
                <div class="col-md-6">
                    <table class="table table-sm table-success margen40 tamanoTable divTable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Top 10 equipos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
