<div class="content centrar">
    <h1>Resumen</h1>

    <div>
        <table class="table table-dark table-striped">
            <tbody>
                <tr>
                    <td colspan="2">Equipo 1</td>
                    <td colspan="2">resultado</td>
                    <td colspan="2">Equipo 2</td>
                </tr>
                <tr>
                    <td colspan="3">Ver resumen</td>
                    <td colspan="3">Ver crónica</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>